deps/Libraries
deps/build.log
*build*
.DS_Store
*distmesh*
.vscode
test/images*
deps/CustomOps/SparseAccumulate/example*
deps/CustomOps/SparseAccumulate/benchmark*
deps/CustomOps/SparseAccumulate/README*
!docs/build.jl
deps/CustomOps/SparseIndexing/temp
!deps/build.py
test/fem/data/
test/fem/*.txt
test/fem/*.dat