deps/Libraries
deps/build.log
*build*
.DS_Store
*distmesh*
.vscode
test/images*
deps/CustomOps/SparseAccumulate/example*
deps/CustomOps/SparseAccumulate/benchmark*
deps/CustomOps/SparseAccumulate/README*
!docs/build.jl
deps/CustomOps/SparseIndexing/temp
test/fem/data/
test/fem/*.txt
test/fem/*.dat
docs/src/assets/Slide/.texpadtmp
docs/src/assets/Slide/*.aux
docs/src/assets/Slide/*.log
docs/src/assets/Slide/*.nav
docs/src/assets/Slide/*.out
research/*
*.ipynb
*.gz 
deps/CustomOps/Laplace2D
deps/CustomOps/OT
deps/CustomOps/OTNetwork
deps/CustomOps/FastDTW
deps/CustomOps/ExtendNN
deps/CustomOps/formulas.jl
deps/deps.jl
!deps/build2.jl
deps/CustomOps/CMakeLists.txt
