deps/Libraries
deps/build.log
*build*
.DS_Store
*distmesh*
.vscode
test/images*
deps/CustomOps/SparseAccumulate/example*
deps/CustomOps/SparseAccumulate/benchmark*
deps/CustomOps/SparseAccumulate/README*
!docs/build.jl
deps/CustomOps/SparseIndexing/temp
test/fem/data/
test/fem/*.txt
test/fem/*.dat
docs/src/assets/Slide/.texpadtmp
docs/src/assets/Slide/*.aux
docs/src/assets/Slide/*.log
docs/src/assets/Slide/*.nav
docs/src/assets/Slide/*.out
research/*
*.ipynb
*.gz 
deps/deps.jl
docs/src/assets/Slide/figures
!deps/Anaconda/build.sh
data.txt
docs\src\assets\Codes\Optimizer
*.jld2
docs/src/assets/*.png
docs/src/assets/*.PNG
docs/src/assets/*.pdf
docs/src/assets/*.jpeg
docs/src/assets/*.gif
docs/src/assets/*.jpg
docs/src/assets/*.svg
docs/src/assets/*.ipe
docs/src/assets/Optimizers
docs/src/assets/Slide/*.snm
docs/src/assets/Slide/*.toc
docs/src/assets/mcmc